@use "../abstracts" as *;
@use "../base" as *;
@use "../components" as *;


section {
  // 구분
  .category_bar {
    padding: 16px 0;
    border-top: $line;
    border-bottom: $line;

    h2 {
      @include font-variable($font-xxl + 10, $extra-bold);
    }
  }

  // 메인 소개 섹션
  &#about {
    height: 734px;
    margin-top: 76px;

    .main_wrapper {
      @include width-100;
      @include flex-a-center;

      .about_me {
        width: 61%;
        height: 100%;
        position: relative;
        border-right: $line;

        .wrapper {
          @include absolute-center;

          h1 {
            @include font-variable($font-size: $font-xxl + 16);
            margin-bottom: 28px;

            strong {
              @include font-variable($font-xxl + 20, $extra-bold);

              &.gradient {
                color: transparent;
                background: radial-gradient(circle, #ffeead 0%, #88d8b0 100%);
                background-size: 200%;
                background-clip: text;
                -webkit-background-clip: text;
                animation: gradient_txt 4s linear infinite;
              }
            }

            @keyframes gradient_txt {
              to {
                background-position: 200% center;
              }
            }
          }

          .gradient_line {
            display: inline-block;
            width: 80%;
            height: 2px;
            background: linear-gradient(
                            90deg,
                            #e7e7e7 0%,
                            rgba(255, 255, 255, 0) 100%,
                            rgba(231, 231, 231, 0) 100%
            );
          }

          .point {
            padding-top: 32px;
          }
        }
      }

      .about_me_sub {
        width: 39%;
        height: 100%;
        position: relative;

        .wrapper {
          @include absolute-center;

          .gradient_line {
            display: inline-block;
            width: 100%;
            height: 3px;

            &.right {
              background: linear-gradient(
                              90deg,
                              #e7e7e7 0.1%,
                              rgba(231, 231, 231, 0) 100%
              );
              transform: matrix(-1, 0, 0, 1, 0, 0);
            }

            &.left {
              background: linear-gradient(
                              90deg,
                              #e7e7e7 0.1%,
                              rgba(231, 231, 231, 0) 100%
              );
            }
          }

          .point {
            padding: 40px 0;

            p:first-child {
              margin-bottom: 16px;
            }
          }
        }
      }
    }
  }

  // 핵심 역량
  &#ability_point {
    .contents {
      padding: 90px 150px;

      ul {
        @include flex-center-between;

        li.animation {
          opacity: 0;
          transform: translateX(-80px);
        }

        &.active {
          li.animation {
            animation: fadeIn 1s 1 ease-in-out forwards;

            &:nth-child(1) {
              animation-delay: 0.2s;
            }

            &:nth-child(2) {
              animation-delay: 0.4s;
            }

            &:nth-child(3) {
              animation-delay: 0.6s;
            }

            &:nth-child(4) {
              animation-delay: 0.8s;
            }

            &:nth-child(5) {
              animation-delay: 1s;
            }
          }
        }

        @keyframes fadeIn {
          0% {
            opacity: 0;
            transform: translateX(-80px);
          }
          100% {
            opacity: 1;
            transform: translateX(0);
          }
        }

        li {
          @include flex-column-center;

          .icon {
            width: 80px;
            height: 80px;
          }

          .also {
            width: 48px;
            height: 48px;
          }

          p {
            text-align: center;
            margin-top: 16px;
            @include font-variable($font-weight: $semi-bold);
          }
        }
      }
    }
  }

  // 기술 스택
  &#skill {
    border-top: $line;
    padding: 120px 0;

    .skill_wrapper {
      display: flex;

      .skill_txt {
        width: 22.39%;
        margin-right: 40px;

        h2 {
          @include font-variable($font-xxl + 10, $extra-bold);
          margin-bottom: 34px;
        }
      }
    }

    .card_wrpper {
      @include flex-wrap;
      justify-content: space-between;
      gap: 25px;
      width: 74.71%;

      li {
        &.card {
          width: 31.5%;
          height: 328px;
          position: relative;
          perspective: 600px;

          .card_contents {
            height: 100%;
            width: 100%;
            position: absolute;
            transition: 1s;
            transform-style: preserve-3d;

            .side {
              position: absolute;
              height: 100%;
              width: 100%;
              background: rgba(255, 255, 255, 0.1);
              border-radius: 12px;
              padding: 27px;
              box-sizing: border-box;
              overflow: hidden;
              backface-visibility: hidden;

              .icon_wrap {
                @include flex-a-center;

                .icon {
                  margin-right: 16px;

                  &:last-child {
                    margin-right: 0;
                  }
                }
              }

              .icon {
                width: 60px;
                height: 60px;
              }

              .skill_name {
                @include font-variable($font-xl, $bold);
                margin: 28px 0;
              }

              .skill_desc {
                > div {
                  display: flex;

                  span {
                    display: inline-block;
                    margin-right: 6px;
                  }

                  p {
                    @include font-variable($font-n, $regular);
                    line-height: 20px;
                  }
                }
              }

              &.back {
                transform: rotateY(180deg);

                .center_icon {
                  .icon {
                    width: 85px;
                    height: 85px;
                  }
                }
              }
            }
          }

          &.me {
            .card_contents {
              .side {
                .icon {
                  width: 114px;
                  height: auto;
                }

                .skill_name {
                  @include font-variable($font-xl, $bold);
                  line-height: 26px;
                }

                .skill_desc {
                  p {
                    @include font-variable($font-weight: $semi-bold);
                    color: $bg-primary;
                  }
                }

                &.back {
                  .center_icon {
                    .icon {
                      width: 140px;
                      height: 140px;
                    }
                  }
                }
              }
            }
          }

          &:hover .card_contents {
            transform: rotateY(180deg);
          }
        }
      }
    }
  }

  // 프로젝트
  &.preview {
    .common {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .project {
        position: relative;
        overflow: hidden;
        height: 450px;
        border-right: $line;
        border-bottom: $line;

        &:nth-child(3n) {
          border-right: none;
        }

        .img_wrap {
          height: 100%;

          img {
            object-fit: cover;
          }
        }

        .project_desc {
          @include absolute-all;
          z-index: 10;

          .gradient_bg {
            height: 100%;
            background: linear-gradient(
                            180deg,
                            rgba(21, 21, 21, 0) 0.81%,
                            #151515 100%
            );
            z-index: 11;
            @include absolute-all;
          }

          .txt {
            height: 230px;
            padding: 40px 40px 30px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            box-sizing: border-box;
            transition: transform 0.5s;
            animation: fadein;
            transform: translateY(122px);
            z-index: 12;

            .tt_line {
              margin-bottom: 16px;

              h3 {
                @include font-variable($font-xxl + 2, $bold);
              }
            }

            .desc {
              @include font-variable($font-n, $medium);
            }
          }
        }

        &:hover {
          .txt {
            transform: translateY(0px);
          }
        }
      }

      .no-bottom-border {
        border-bottom: none;
      }

    }
  }

  // 업무 수행 역량
  &#ability_basic {
    .ability_basic_wrapper {
      padding: 100px 0;

      li {
        width: 100%;
        margin-bottom: 18px;

        .tt_line {
          margin-bottom: 12px;
          cursor: pointer;

          p.tt {
            @include font-variable($font-xxl + 2, $bold);
            transition: 0.3s;
          }
        }

        .details {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease, padding 0.3s ease;

          h3 {
            @include font-variable($font-xxl + 2, $bold);
            margin-bottom: 16px;
          }

          p {
            @include font-variable($font-m, $medium);
            padding-bottom: 20px;
          }
        }

        &.on {
          .tt_line {
            p.tt {
              color: $font-primary;
            }
          }
        }

        span {
          &.gradient_line {
            display: inline-block;
            width: 100%;
            height: 4px;

            &.left {
              background: linear-gradient(
                              90deg,
                              #e7e7e7 0%,
                              rgba(231, 231, 231, 0) 100%
              );
              transform: matrix(1, 0, 0, -1, 0, 0);
            }

            &.right {
              background: linear-gradient(
                              90deg,
                              #e7e7e7 0%,
                              rgba(231, 231, 231, 0) 100%
              );
              transform: rotate(180deg);
            }
          }
        }
      }

      li:first-child {
        .details {
          display: block;
        }
      }
    }
  }

  // 컨텍
  &#contact {
    padding: 80px 100px;

    .contact_img {
      width: 220px;
      height: 220px;
      margin: 0 auto;
      margin-bottom: 20px;
    }

    h3 {
      @include font-variable($font-xxl + 10, $bold);
      margin-bottom: 48px;
      text-align: center;
    }

    .btn_area {
      @include flex-j-a-center;
      flex-direction: column;

      button {
        width: 280px;
      }

      button:first-child {
        margin-bottom: 24px;
      }
    }
  }
}
